@page "/"
@using BlazorPratica.Client.Models
@inject HttpClient Http

<h2>DevBoard</h2>

@if (posts is null)
{
    <p>Carregando posts...</p>
}
else if (posts.Count == 0)
{
    <p>Nenhum post ainda. Seja o primeiro!</p>
}
else
{
    @foreach (var post in posts)
    {
        <div style="border: 1px solid #ddd; padding: 16px; margin-bottom: 12px; border-radius: 8px;">
            <span>@post.Tag</span>
            <h3>@post.Title</h3>
            <p>@post.Content</p>
            <small>por @post.AuthorName em @post.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</small>
        </div>
    }
}


@code {
    private List<Post>? posts;

    // quando o componente é iniciado

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<List<Post>>("api/Posts");
    }
}